<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">Pastoral Notes</span>
      </div>
      <div class="desc">高效的笔记本和日记本</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2020
      <a href="//github.com/cade8800" target="_blank">EEDC</a> 出品
    </global-footer>
  </div>
</div>