<page-header title=""></page-header>

<div class="main_div">
  <nz-card class="title" [nzLoading]="isSpinning">
    <input class="input_title" [(ngModel)]="noteDetail.title" placeholder='请在这里输入标题' />
    <input class="input_Summary" [(ngModel)]="noteDetail.summary" placeholder='请在这里输入摘要' />
  </nz-card>

  <div class="content">
    <div id="editor">
      <textarea></textarea>
    </div>
  </div>

  <nz-card class="options" [nzLoading]="isSpinning">

    <div class="option">
      <div class="tap">类别</div>
      <nz-divider></nz-divider>
      <div class="option_content">
        <!-- <nz-checkbox-group class="checkbox_group" [(ngModel)]="categories" (ngModelChange)="changeCategory(categories)">
        </nz-checkbox-group> -->
        <label *ngFor='let la of categories' nz-checkbox [nzValue]="la.value"
          [(ngModel)]="la.checked">{{la.label}}</label>
      </div>
    </div>

    <div class="option">
      <div class="tap">标签</div>
      <nz-divider></nz-divider>
      <div class="option_content">

        <nz-select class="select" nzMode="multiple" [nzDropdownRender]="renderTemplate" nzPlaceHolder="请选择标签"
          [(ngModel)]="noteDetail.labels" nzBorderless="true" nzSize="large">
          <nz-option *ngFor="let option of labels" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
        </nz-select>
        <ng-template #renderTemplate>
          <nz-divider></nz-divider>

          <div style="padding: 0 24px 24px 24px;">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
              <input type="text" #inputElement nz-input placeholder="请输入新标签名" />
            </nz-input-group>
            <ng-template #suffixButton>
              <button nz-button nzType="primary" (click)="addLabel(inputElement)" [nzLoading]="newLabelLoading">
                <i nz-icon nzType="plus"></i>新标签</button>
            </ng-template>
          </div>

        </ng-template>

      </div>
    </div>

    <div class="option">
      <div class="tap">封面</div>
      <nz-divider></nz-divider>
      <div class="option_content">

        <div class="image_list">

          <div class="image_item" *ngFor="let item of contentImageList"
            [ngStyle]="{'background-image': 'url('+item.url+')'}" (click)="checkCover(item)">

            <div class="iamge_mask" *ngIf="item.selected">
              <i nz-icon nzType="check" nzTheme="outline"></i>
            </div>

          </div>

        </div>

        <nz-empty *ngIf="contentImageList.length<1" nzNotFoundImage="simple" nzNotFoundContent="正文中无可用做封面的图片">
        </nz-empty>

      </div>
    </div>


    <div class="operating">
      <button nz-button nzType="primary" nzSize="large" nzShape="round" (click)="sumbit()" [nzLoading]="submitLoading">
        <i nz-icon nzType="save" nzTheme="outline"></i> 保存
      </button>
    </div>

  </nz-card>

</div>